<!DOCTYPE html>
<html>
  <head>
    <title>harjoitus</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <%- include('../partials/header') %>
      </header>
      <main>
        <div class="sisus">
          <h1><%= new_heading %></h1>
          <p><%= new_paragraph %></p>
        </div>
      </main>
      <div>
        <%- include('../partials/footer') %>
      </div>
    
    
  </body>
</html>
