<nav class="header">
    <div>
        <ul class="header">
            <li class="header"><a href="/">Home</a></li>
            <li class="header"><a href="/ajax">AjaxRequest</a></li>
            <li class="header"><a href="/local">Last</a></li>
        </ul>
    </div>
</nav>